@charset "utf-8";


.changecolor{
    color: #360FEB;
    font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, sans-serif;	
} 

.tilebg{
    background-image: url(../images/background2.png);
    background-repeat: repeat;	
}